:root {
  --orange: #FC835F;
  --black: #000;
  --olive: #F9F8F4;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

* {
    color: var(--black);
    font-family: 'Montserrat';
}

html {
    height: 100%;
    font-size: calc(1em + 0.15vw);
}

h1 {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: var(--olive);
}

main {
    margin-top: 64px;
}

.container {
    height: 100%;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
    min-height: 100vh;
}

article {
    text-align: center;
    padding: 1rem 10%;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

button:focus {
  outline: none;
}

*:focus {
  outline-color: var(--orange);
}

input:focus,
textarea:focus {
  border-radius: 0;
}
